*{
  /*font style*/
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  /*frames*/
  width: fit-content; 
  box-sizing: border-box;
  margin: auto;
}
html{
  /*background*/
  background-color: #141414;
  /*funktionality*/
  scroll-behavior: smooth;
  padding: 0px;
  width: 100%;
}

header{
  /*sizing*/
  width: 100%;
  /*looks*/
  padding: 1.5rem 2rem;
  background-color: #14141455;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  /*position*/
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
}
.header_bar{
  /*sizing*/
  width: 100%;
  /*content positioning*/
  display: flex;
  align-items: center;
  justify-content: space-between;    
}
#header_logo img{
  /*sizing*/
  object-fit: contain;
  width: 40px;
}
#header_cleanmuscle_u_logo{
  /*positioning*/
  align-items: center;
  margin: 0px;
}
#header_back_u_button{
  /*positioning*/
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}
#header_back{
  /*text style*/
  color: #95A1AC;
  font-size: 18px;
  font-weight: 500;
}
#header_dieappholen{
  /*button style*/
  background-color: #4E4CC8;
  /*sizing*/
  padding: 10px 20px;
  border-radius: 20px;
  /*text*/
  font-weight: 500;
}

body{
  /* sizing */
  width: 100%;
}
body c,muscle{
  color: #AFAFE1;
}

.section_one{
  /* sizing */
  width: 95%;
  /* positioning */
  margin-top: 9%;
  /* content alignment */
  display: flex;
}
#section_one_h1_u_p{
  /* sizing */
  width: 35%;
}
#section_one_h1_u_p h1{
  /* sizing */
  width: 100%;
  /* positioning */
  margin: 0px;
  /* text styling */
  text-align: left;
  text-transform: capitalize;
  /* frame styling */
  background-color: #141414;
}
#section_one_h1_gradient{
  /* sizing */
  width: 80%;
  /* positioning */
  margin: 0px;
  /* gradient */
  background: linear-gradient(90deg, #4E4CC8, #AFAFE1, #141414);
  /* content alginment */
  padding-bottom: 1px;
}
#section_one_h1_u_p p{
  /* sizing */
  /* positioning */
  margin: 0px;
  margin-top: 5%;
  /* text styling */
  text-align: left;
  font-size: 18px;
  line-height: 150%;
  color: #aaaaaa;
}
.section_one_right{
  /* sizing */
  width: 75%;
  /* content alginment */
  display: flex ;
  gap: 2%;
}
#body_section_one_card_one, #body_section_one_card_two{
  /* sizing */
  height: 450px;
  padding: 30px;
  /* positioning */
  z-index: -1;
  /* frame styling */
  border-radius: 30px;
  background-color: #2c2c2c;
}
#body_section_one_card_one{
  background-image: url(../Assets/aboutcardbackgroundFOCUS.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350px;
}
#body_section_one_card_two{
  background-image: url(../Assets/aboutcardbackgroundCHART.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
}
#body_section_one_card_one h2, #body_section_one_card_two h2{
  /* frame sizing */
  width: 100%;
  /* text styling */
  text-transform: capitalize;
  text-align: left;
  font-size: 32px;
  font-weight: 200;
}
#body_section_one_card_one p, #body_section_one_card_two p{
  /* positioning */
  margin-top: 5%;
  /* text styling */
  font-size: 18px;
  color: #aaaaaa;
  text-align: left;
  line-height: 150%;
}

.section_two{
  /* sizing */
  width: 95%;
  /* positioning */
  margin-top: 5%;
  /* content alignment */
  display: flex;
  gap: 4%;
}
#section_two_h1_u_p{
  /* sizing */
  width: 60%;
  /* positioning */
}
#section_two_h1_u_p h1{
  /* sizing */
  width: 100%;
  /* positioning */
  margin: 0px;
  /* text styling */
  text-align: left;
  text-transform: capitalize;
  /* frame styling */
  background-color: #141414;
}
#section_two_h1_gradient{
  /* sizing */
  width: 80%;
  /* positioning */
  margin: 0px;
  /* gradient */
  background: linear-gradient(90deg, #4E4CC8, #AFAFE1, #141414);
  /* content alginment */
  padding-bottom: 1px;
}
#section_two_h1_u_p p{
  /* sizing */
  /* positioning */
  margin: 0px;
  margin-top: 5%;
  /* text styling */
  text-align: left;
  font-size: 18px;
  line-height: 150%;
  color: #aaaaaa;
}
#body_section_two_card_one{
  /* sizing */
  width: 100%;
  height: fit-content;
  padding: 30px;
  /* positioning */
  z-index: -1;
  margin-left: 0;
  /* frame styling */
  border-radius: 30px;
  background-color: #2c2c2c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350px;
}
#body_section_two_card_one h2{
  /* frame sizing */
  width: 100%;
  /* text styling */
  text-transform: capitalize;
  text-align: left;
  font-size: 32px;
  font-weight: 200;
}
#body_section_two_card_one p{
  /* positioning */
  margin: 0px;
  margin-top: 2%;
  /* text styling */
  font-size: 18px;
  color: #aaaaaa;
  text-align: left;
  line-height: 150%;
}


footer{
  /* sizing */
  width: 100%;
  height: 300px;
  /* positioning */
  margin-top: 10%;
  /* content alignment */
  padding: 2% 4%;
  /* styling */
  background-color: #2c2c2c8b;
}
#footer_cleanmuscle c, #footer_cleanmuscle muscle{
  /* text styling */
  color: #AFAFE1;
  font-size: 30px;
  font-weight: 600;
}
#footer_cleanmuscle lean{
  /* text styling */
  font-size: 30px;
  font-weight: 600;
}
.footer_content{
  /* sizing */
  width: 100%;
  /* posioning */
  margin-top: 0;
  /* content alignment */
  display: flex;
  justify-content: space-between;
}
.footer_content h2{
  /* positioning */
  margin: 0;
}
.footer_content h3{
  /* positioning */
  margin: 0;
  /* text styling */
  font-size: 30px;
}
.footer_content div{
  margin: 0;
}
.footer_content a{
  font-size: 20px;
  color: #7a7a7a;
}
#footer_navigate div, #footer_contact div, #footer_rechtliches div{
  /* positioning */
  margin-top: 10px;
}
#footer_contact h4{
  font-size: 20px;
  color: #aaa;
}
.footer_content_2ndrow{
  /* positioning */
  margin: 0;
  margin-top: 3%;
}
.footer_content_2ndrow h3{
  /* positioning */
  margin: 0;
  /* text styling */
  font-size: 30px;
}
.footer_content_2ndrow div{
  /* sizing */
  width: fit-content;
  /* positioning */
  margin: 0;
  margin-top: 1%;
  /* content alignment */
  display: flex;
  gap: 20px;
}
.footer_content_2ndrow img{
  /* sizing */
  object-fit: contain;
  width: 40px;
}

@media  screen and (max-width: 1500px) {
  header{
      /* sizing */
      padding: 0.9rem 2rem;
  }

  .section_one{
    /* sizing */
    width: 95%;
    /* positioning */
    margin-top: 9%;
  }
  #section_one_h1_u_p{
    /* sizing */
    width: 35%;
  }
  #section_one_h1_u_p h1{
    /* sizing */
    width: 100%;
    /* positioning */
    margin: 0px;
  }
  #section_one_h1_gradient{
    /* sizing */
    width: 80%;
    /* positioning */
    margin: 0px;
    /* content alginment */
    padding-bottom: 1px;
  }
  #section_one_h1_u_p p{
    /* positioning */
    margin: 0px;
    margin-top: 5%;
    /* text styling */
    font-size: 18px;
    line-height: 150%;
  }
  .section_one_right{
    /* sizing */
    width: 75%;
    /* content alginment */
    gap: 2%;
  }
  #body_section_one_card_one, #body_section_one_card_two{
    /* sizing */
    width: 48%;
    height: 450px;
    padding: 30px;
    /* frame styling */
    border-radius: 30px;
  }
  #body_section_one_card_one{
    background-size: 350px;
  }
  #body_section_one_card_two{
    background-size: 300px;
  }
  #body_section_one_card_one h2, #body_section_one_card_two h2{
    /* frame sizing */
    width: 100%;
    /* text styling */
    font-size: 32px;
    font-weight: 200;
  }
  #body_section_one_card_one p, #body_section_one_card_two p{
    /* positioning */
    margin-top: 5%;
    /* text styling */
    font-size: 18px;
    line-height: 150%;
  }
}
@media screen and (max-width: 1110px) {
  header{
    /* sizing */
    padding: 1.3rem 2rem;
  }
  #header_logo img{
      /*sizing*/
      width: 35px;
  }
  #header_back{
    /*text style*/
    font-size: 16px;
    font-weight: 500;
  }
  #header_dieappholen{
      /* text styling */
      font-size: 16px;
  }

  .section_one{
    /* sizing */
    width: 95%;
    /* positioning */
    margin-top: 9%;
  }
  #section_one_h1_u_p{
    /* sizing */
    width: 35%;
  }
  #section_one_h1_u_p h1{
    /* text styling */
    font-size: 30px;
  }
  #section_one_h1_u_p p{
    /* positioning */
    margin-top: 5%;
    /* text styling */
    font-size: 16px;
    line-height: 150%;
  }
  .section_one_right{
    /* sizing */
    width: 75%;
    /* content alginment */
    gap: 2%;
  }
  #body_section_one_card_one, #body_section_one_card_two{
    /* sizing */
    width: 48%;
    height: 400px;
    padding: 20px 25px;
    /* frame styling */
    border-radius: 30px;
  }
  #body_section_one_card_one{
    background-size: 250px;
  }
  #body_section_one_card_two{
    background-size: 230px;
  }
  #body_section_one_card_one h2, #body_section_one_card_two h2{
    /* frame sizing */
    width: 100%;
    /* text styling */
    font-size: 28px;
    font-weight: 200;
  }
  #body_section_one_card_one p, #body_section_one_card_two p{
    /* positioning */
    margin-top: 4%;
    /* text styling */
    font-size: 16px;
    line-height: 150%;
  }

  .section_two{
    /* content alignment */
    gap: 4%;
  }
  #section_two_h1_u_p{
    /* sizing */
    width: 50%;
  }
  #section_two_h1_u_p h1{
    /* text styling */
    font-size: 30px;
  }
  #section_two_h1_u_p p{
    /* text styling */
    font-size: 17px;
  }
  #body_section_two_card_one{
    /* frame styling */
    border-radius: 30px;
  }
  #body_section_two_card_one h2{
    /* text styling */
    font-size: 28px;
  }
  #body_section_two_card_one p{
    /* text styling */
    font-size: 16px;
  }
}
@media screen and (max-width: 950px){
  header{
    /* sizing */
    padding: 0.9rem 1.8rem;
  }
  #header_logo img{
    /*sizing*/
    width: 35px;
  }
  #header_back{
    /*text style*/
    font-size: 16px;
    font-weight: 500;
  }
  #header_dieappholen{
    /* text styling */
    font-size: 16px;
    /* sizing */
    padding: 8px 15px;
  }

  .section_one{
    /* positioning */
    margin-top: 11%;
  }
  #section_one_h1_u_p{
    /* sizing */
    width: 30%;
  }
  #section_one_h1_u_p h1{
    /* text styling */
    font-size: 25px;
  }
  #section_one_h1_u_p p{
    /* positioning */
    margin-top: 5%;
    /* text styling */
    font-size: 14px;
    line-height: 140%;
  }
  .section_one_right{
    /* content alginment */
    gap: 2%;
  }
  #body_section_one_card_one, #body_section_one_card_two{
    /* sizing */
    height: 365px;
    padding: 20px 25px;
    /* frame styling */
    border-radius: 20px;
  }
  #body_section_one_card_one{
    background-size: 210px;
  }
  #body_section_one_card_two{
    background-size: 190px;
  }
  #body_section_one_card_one h2, #body_section_one_card_two h2{
    /* text styling */
    font-size: 22px;
    font-weight: 200;
  }
  #body_section_one_card_one p, #body_section_one_card_two p{
    /* positioning */
    margin-top: 2%;
    /* text styling */
    font-size: 14px;
    line-height: 150%;
  }

  .section_two{
    /* content alignment */
    gap: 4%;
  }
  #section_two_h1_u_p{
    /* sizing */
    width: 50%;
  }
  #section_two_h1_u_p h1{
    /* text styling */
    font-size: 25px;
  }
  #section_two_h1_u_p p{
    /* text styling */
    font-size: 14px;
    /* positioning */
    margin-top: 5%;
  }
  #body_section_two_card_one{
    /* frame styling */
    border-radius: 20px;
    /* content alignment */
    padding: 20px 25px;
  }
  #body_section_two_card_one h2{
    /* text styling */
    font-size: 22px;
  }
  #body_section_two_card_one p{
    /* text styling */
    font-size: 14px;
    /* positioning */
    margin-top: 2%;
  }

  footer{
    /* sizing */
    height: 250px;
  }
  .footer_content{
      /* content alignment */
      gap: 0px;
  }
  #footer_cleanmuscle c, #footer_cleanmuscle muscle{
    /* text styling */
    font-size: 16px;
  }
  #footer_cleanmuscle lean{
    /* text styling */
    font-size: 16px;
  }
  .footer_content h3{
    /* text styling */
    font-size: 20px;
  }
  .footer_content a{
    font-size: 16px;
  }
  #footer_navigate div, #footer_contact div, #footer_rechtliches div{
    /* positioning */
    margin-top: 8px;
  }
  #footer_contact h4{
    font-size: 18px;
  }
  .footer_content_2ndrow{
    /* positioning */
    margin-top: 58px;
  }
  .footer_content_2ndrow h3{
    /* text styling */
    font-size: 20px;
  }
  .footer_content_2ndrow div{
    /* sizing */
    width: fit-content;
    /* content alignment */
    gap: 15px;
  }
  .footer_content_2ndrow img{
    /* sizing */
    object-fit: contain;
    width: 40px;
  }
}
@media screen and (max-width: 765px) {
  header{
    /*sizing*/
    width: 100%;
    /*looks*/
    padding: 0.6rem 0.9rem;
  }
  #header_logo img{
    /*sizing*/
    width: 32px;
  }
  #header_back_u_button{
    /*positioning*/
    gap: 8px;
  }
  #header_back{
    /*text style*/
    font-size: 14px;  
    font-weight: 500;
  }
  #header_dieappholen{
    /*sizing*/
    padding: 7.5px 12px;
    border-radius: 20px;
    /*text*/
    font-size: 14px;
    font-weight: 550;
  }

  .section_one{
    /* sizing */
    width: 90%;
    /* positioning */
    margin-top: 12%;
    /* content alignment */
    flex-direction: column;
    gap: 20px;
  }
  #section_one_h1_u_p{
    /* sizing */
    width: fit-content;
    /* positioning */
    margin: 0;
  }
  #section_one_h1_u_p h1{
    /* text styling */
    font-size: 25px;
  }
  #section_one_h1_u_p p{
    /* positioning */
    margin-top: 2%;
    /* text styling */
    font-size: 14px;
    line-height: 140%;
  }
  .section_one_right{
    /* sizing */
    width: 100%;
    /* content alginment */
    gap: 2%;
  }
  #body_section_one_card_one, #body_section_one_card_two{
    /* sizing */
    height: 370px;
    padding: 16px;
    /* frame styling */
    border-radius: 15px;
  }
  #body_section_one_card_one{
    background-size: 210px;
  }
  #body_section_one_card_two{
    background-size: 190px;
  }
  #body_section_one_card_one h2, #body_section_one_card_two h2{
    /* text styling */
    font-size: 20px;
    font-weight: 200;
  }
  #body_section_one_card_one p, #body_section_one_card_two p{
    /* positioning */
    margin-top: 2%;
    /* text styling */
    font-size: 14px;
    line-height: 140%;
  }

  .section_two{
    /* sizing */
    width: 90%;
    /* positioning */
    margin-top: 100px;
    /* content alignment */
    flex-direction: column-reverse;
    gap: 20px;
  }
  #section_two_h1_u_p{
    /* sizing */
    width: fit-content;
    /* positioning */
    margin: 0;
  }
  #section_two_h1_u_p h1{
    /* text styling */
    font-size: 25px;
  }
  #section_two_h1_u_p p{
    /* text styling */
    font-size: 14px;
    /* positioning */
    margin-top: 2%;
  }
  #body_section_two_card_one{
    /* frame styling */
    border-radius: 15px;
    /* content alignment */
    padding: 16px;
  }
  #body_section_two_card_one h2{
    /* text styling */
    font-size: 20px;
  }
  #body_section_two_card_one p{
    /* text styling */
    font-size: 14px;
    /* positioning */
    margin-top: 2%;
  }
  
  footer{
    /* sizing */
    height: 210px;
    /* content alignment */
    padding: 2%;
  }
  .footer_content{
      /* content alignment */
      gap: 0px;
  }
  #footer_cleanmuscle c, #footer_cleanmuscle muscle{
      /* text styling */
      font-size: 16px;
  }
  #footer_cleanmuscle lean{
      /* text styling */
      font-size: 16px;
  }
  .footer_content h3{
      /* text styling */
      font-size: 20px;
  }
  .footer_content a{
      font-size: 16px;
  }
  #footer_navigate div, #footer_contact div, #footer_rechtliches div{
      /* positioning */
      margin-top: 8px;
  }
  #footer_contact h4{
      font-size: 18px;
  }
  .footer_content_2ndrow{
    /* positioning */
    margin-top: 20px;
  }
  .footer_content_2ndrow h3{
      /* text styling */
      font-size: 20px;
  }
  .footer_content_2ndrow div{
      /* sizing */
      width: fit-content;
      /* content alignment */
      gap: 15px;
  }
  .footer_content_2ndrow img{
      /* sizing */
      object-fit: contain;
      width: 40px;
  }
}
@media  screen and (max-width: 500px) {
  header{
    /*sizing*/
    width: 100%;
    /*looks*/
    padding: 0.5rem 0.8rem;
  }
  #header_logo img{
    /*sizing*/
    width: 25px;
  }
  #header_back_u_button{
    /*positioning*/
    gap: 5px;
  }
  #header_back{
  /*text style*/
  font-size: 12px;
  font-weight: 500;
  }
  #header_dieappholen{
    /*sizing*/
    padding: 6px 10px;
    border-radius: 20px;
    /*text*/
    font-size: 12px;
    font-weight: 550;
  }

  .section_one{
    /* sizing */
    width: 90%;
    /* positioning */
    margin-top: 25%;
    /* content alignment */
    flex-direction: column;
    gap: 20px;
  }
  #section_one_h1_u_p{
    /* sizing */
    width: 90%;
    /* positioning */
    margin: 0;
  }
  #section_one_h1_u_p h1{
    /* text styling */
    font-size: 25px;
  }
  #section_one_h1_u_p p{
    /* positioning */
    margin-top: 2%;
    /* text styling */
    font-size: 12px;
    line-height: 140%;
  }
  .section_one_right{
    /* sizing */
    width: 100%;
    /* content alginment */
    gap: 10%;
    padding: 10px 0px;
    /* scroll function */
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
  }
  #body_section_one_card_one, #body_section_one_card_two{
    /* sizing */
    width: 200px;
    height: 320px;
    padding: 18px;
    /* frame styling */
    border-radius: 15px;
    /* scroll snap */
    scroll-snap-align: center;
  }
  .section_one_right::-webkit-scrollbar{
    height: 12px;
  }
  .section_one_right::-webkit-scrollbar-thumb{
    background: #4a4a4a;
    border: solid 2px #666666;
    border-radius: 50px;
  }
  #body_section_one_card_one{
    background-size: 200px;
  }
  #body_section_one_card_two{
    background-size: 180px;
  }
  #body_section_one_card_one h2, #body_section_one_card_two h2{
    /* text styling */
    font-size: 18px;
    font-weight: 200;
  }
  #body_section_one_card_one p, #body_section_one_card_two p{
    /* positioning */
    margin-top: 2%;
    /* text styling */
    font-size: 12px;
    line-height: 140%;
  }

  .section_two{
    /* sizing */
    width: 90%;
    /* positioning */
    margin-top: 100px;
    /* content alignment */
    flex-direction: column-reverse;
    gap: 20px;
  }
  #section_two_h1_u_p{
    /* sizing */
    width: fit-content;
    /* positioning */
    margin: 0;
  }
  #section_two_h1_u_p h1{
    /* text styling */
    font-size: 25px;
  }
  #section_two_h1_u_p p{
    /* text styling */
    font-size: 12px;
    /* positioning */
    margin-top: 2%;
  }
  #body_section_two_card_one{
    /* frame styling */
    background-color: unset;
    background: linear-gradient(135deg, #4e4cc8cd, #6b6bcbcd, #098ad5cd);
    border-radius: 15px;
    /* content alignment */
    padding: 15px;
  }
  #body_section_two_card_one h2{
    /* text styling */
    font-size: 18px;
  }
  #body_section_two_card_one p{
    /* text styling */
    color: #d5d5d5;
    font-size: 12px;
    /* positioning */
    margin-top: 2%;
  }

  footer{
    /* sizing */
    width: 100%;
    height: fit-content;
    /* positioning */
    margin-top: 20%;
    /* content alignment */
    display: flex;
    padding: 4%;
    padding-bottom: 50px;
  }
  .footer_content{
    /* content alignment */
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #footer_cleanmuscle c, #footer_cleanmuscle muscle{
    /* text styling */
    font-size: 14px;
  }
  #footer_cleanmuscle lean{
    /* text styling */
    font-size: 14px;
  }
  .footer_content h3{
    /* text styling */
    font-size: 20px;
  }
  .footer_content a{
    font-size: 16px;
  }
  #footer_navigate div, #footer_contact div, #footer_rechtliches div{
    /* positioning */
    margin-top: 8px;
  }
  #footer_contact h4{
    font-size: 18px;
  }
  .footer_content_2ndrow{
    /* positioning */
    margin-top: 58px;
    margin-left: 0px;
  }
  .footer_content_2ndrow h3{
    /* text styling */
    font-size: 20px;
    text-align: left;
  }
  .footer_content_2ndrow div{
    /* sizing */
    width: fit-content;
    /* content alignment */
    gap: 10px;
  }
  .footer_content_2ndrow img{
    /* sizing */
    object-fit: contain;
    width: 100%;
    max-width: 80px;
  }
}

#header_back:hover{
  /* text style */
  color: #FFFFFF;
  transform: scale(1.02);
  transition-duration: 0.15s;
  cursor: pointer;
}
#header_dieappholen:hover{
  transform: scale(1.03);
  transition-duration: 0.15s;
  cursor: pointer;
}

.footer_content a:hover{
  color: #ffffff;
  transition-duration: 0.15s;
}